* {
  margin: 0;
  padding: 0;
}

.el-header {
  background-color: #409eff;
}

.mian_map {
  width: 450px;
  height: 420px;
}

.BMap_cpyCtrl {
  display: none;
}

.anchorBL {
  display: none;
}

.el-main {
  margin-left: 0;
  margin-right: 0;
  padding: 0 !important;
}

.el-main .el-carousel {
  position: absolute;
  margin-top: 8px;
  z-index: -1;
}

.el-main .el-carousel .el-carousel__container {
  width: 1920px;
  height: 920px;
}

.el-main .el-carousel .el-carousel__container img {
  filter: blur(15px);
  width: 100%;
  height: 920px;
}

.el-main .talk {
  margin: auto;
  margin-top: 80px;
  width: 35%;
  color: white;
}

.el-main .talk .zhu {
  font-size: 30px;
}

.el-main .card-box {
  margin-top: 100px;
}

.el-main .card-box .main_R img {
  width: 450px;
}

.el-main .card-box .main_map img {
  width: 450px;
}

.el-main .card-box .el-card {
  display: inline-block;
  border-radius: 20px;
  width: 15%;
  height: 450px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.el-main .card-box .el-card img {
  width: 60%;
  margin-top: 10%;
}

.el-main .card-box .el-card .el-button {
  margin-top: 50%;
}
