*{
    margin: 0;
    padding: 0;
}


.el-header{
    background-color: rgb(64, 158, 255);
}

.mian_map {
    width: 450px;
    height: 420px;
}
  
.BMap_cpyCtrl {
    display: none;
}
.anchorBL {
    display: none;
}


.el-main{
    margin-left: 0;
    margin-right: 0;
    padding: 0 !important;
    .el-carousel{
        position: absolute;
        margin-top: 8px;
        z-index: -1;
        .el-carousel__container{
            width: 1920px;
            height: 920px;
            img{
                filter: blur(15px);
                width: 100%;

                height: 920px;
            }
        }
    }
    .talk{
        margin: auto;
        margin-top: 80px;
        width: 35%;
        color: rgb(255, 255, 255);
        // background-color: #fff;
        .zhu{
            font-size: 30px;
        }
    }
  
    .card-box{
        margin-top: 100px;
        .main_R{
            img{
                width: 450px;
                // height: 420px;
            }
        }
        .main_map{
            img{
                width: 450px;
                // height: 420px;
            }
        }
        .el-card{
            display: inline-block;
            border-radius: 20px;
            width: 15%;
            height: 450px;
            margin-left: 2.5%;
            margin-right: 2.5%;
            img{
                width: 60%;
                margin-top: 10%;
            }
            .el-button{
                margin-top: 50%;
            }
        }
    }
  
}