*{
    margin: 0;
    padding: 0;
}

.el-header{
    background-color: rgb(64, 158, 255);
}

.mian_map {
    width: 450px;
    height: 420px;
}
  
.BMap_cpyCtrl {
    display: none;
}
.anchorBL {
    display: none;
}


.el-main{
    .zhu{
        font-size: 30px;
    }
    .card-box{
        margin-top: 100px;
        .main_R{
            img{
                width: 450px;
                // height: 420px;
            }
        }
        .main_map{
            img{
                width: 450px;
                // height: 420px;
            }
        }
        .el-card{
            display: inline-block;
            width: 15%;
            height: 450px;
            margin-left: 2.5%;
            margin-right: 2.5%;
            img{
                width: 60%;
                margin-top: 10%;
            }
            .el-button{
                margin-top: 50%;
            }
        }
    }
  
}