.map {
    width: 100%;
    height: 600px;
}
  
.BMap_cpyCtrl {
    display: none;
}
.anchorBL {
    display: none;
}

.info_from{
    display: block;
    margin-top: 100px;
    .el-form-item{
        width: 100%;
    }
    .ti_p{
        font-size: 20px;
        display: block;
        // padding-left: auto;
        // margin-left: auto;
        margin-left:6% ;
    }
    .el-form{
        display: block;
        margin-left: 30% !important;
        width: 40%;
    }
    .from_submit{
        display: block;
        margin-left: 40%;
    }
}