.MyResources{
    .el-card{
        // display: inline-block;
        float: left;
        margin-left: 2%;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 30%;
        height: 400px;
        img{
            display: block;
            // float: left;
            width: 30%; 
            // margin:6%;
            margin-left: 160px;
            // height: 35%;
        }
        .more{
            display: block;
            width: 100%;
            margin-top: 10%;
            height: 40%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .el-radio-group{
            width: 100%;
            
        }
        #upbu{
            display: block;
            margin-top: 10px;
        }
    }
}