.MyResources .el-card {
  float: left;
  margin-left: 2%;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 30%;
  height: 400px;
}

.MyResources .el-card img {
  display: block;
  width: 30%;
  margin-left: 160px;
}

.MyResources .el-card .more {
  display: block;
  width: 100%;
  margin-top: 10%;
  height: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.MyResources .el-card .el-radio-group {
  width: 100%;
}

.MyResources .el-card #upbu {
  display: block;
  margin-top: 10px;
}
