.MyResources{
    .el-card{
        // display: inline-block;
        float: left;
        margin-left: 2%;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 30%;
        height: 200px;
        .ty{
            display: block;
        }
    }
}