.ResourcesUse .el-card {
  display: inline-block;
  margin-left: 4%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 45%;
  height: 400px;
}

.ResourcesUse .el-card img {
  float: left;
  margin: 4%;
  width: 35%;
}

.ResourcesUse .el-card .more {
  display: block;
  width: 100%;
  margin-top: 10%;
  height: 40%;
}

.ResourcesUse .el-card .stepbox {
  display: block;
  width: 100%;
  height: 50%;
}
